* { 
    margin: 0;
}

body {
    background-color: rgb(235, 235, 235);
    background-color: #e8e8e8;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.6'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
 
/* Encabezado */

header {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

main {
    width: 80%;
    margin: auto;
}

/* Acá diseñamos el menú de navegación */


nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;

}
 
nav ul li a {
    color: white;
    text-decoration: none;

}

nav ul li {
    padding: 15px;
}

.logo {
    font-size: 30px;
    flex: 1;
}

/* 1era sección */

h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 90px;
    margin-bottom: 30px;
    font-family: fantasy;
    
}

.portada {
    width: 100%;
    height: 200px;
    object-fit: cover;
}




/* 2da Sección */
.seccionCentral { 
    padding: 20px;
    margin: 20px;
}

article {
    border: 1px solid black;
    border-radius: 120px;
    background-color: #fff;
    width: 33.3%;
    height: 250px;
    padding: 25px;
    margin: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s;
}

article:hover{
    opacity: 0.5;
    transform: scale(1.1);
}



.todosLosArticulos > article {
    width: 23%;
    display: inline-block;
}



main section div article h2  {
    justify-content: center;
    padding: 5px;
    margin-left: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/*Edito el artículo notebook y accesorios a parte porque al ser mas corta la palabra no quedaba centrada*/


.imagenesProductos { 
    width: 85%;
    height: 220px;
    object-fit: fill;
    border-radius: 30px;
}



/* Pie de página */

footer { 
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer p { 
    color: white;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    
}


/* Aca va el menu hover */


/*hover -> pseudo clase que se activa al pasar el mouse por encima del elemento*/


.menu ul li a{
    transition: 0.3s;
    font-size: 1.1em;
}

.menu ul li a:hover{
    color: rgba(14, 221, 221, 0.582);
}

/* edicion de la pagina "Nosotros" */

.presentacion h1 {
    font-size: 50px ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; }

.subtitulo h1 {
    font-size: 20px ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; 
}

.texto p {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-bottom: 40px;
}

.texto {
    width: 80%;
    margin: 0 auto;
}

/* Edicion de la pagina "contacto" */

section form{
    width: 50%;
    margin: 30px auto;
    
}

.cajas_form {
    width: 50%;
    margin: 0 auto;
    font-family: monospace;
}

/* Edicion de la página "USER" */

.login-box-body {
    margin: 0;
    padding: 0;
    background: url(img/fondo2.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
    width: 320px;
    height: 420px;
    background-color: #fff;
    color: #000;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    z-index: 200;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 200%;
    border: 2px solid #fff;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background: url("img/logo.jpeg") no-repeat center top; 
}

.login-box h1 {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;

}
.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;

}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;

}

.login-box button  {
    border: none;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 18px;
    width: 250px;
    border-radius: 20px;
    margin-bottom: 8px;
    cursor: pointer;
    outline: none;
    transition: 0.7;
}

.login-box button:hover{
    background-color: #b80f22;
    transform: scale(1.05);

}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(78, 77, 77)
}

.login-box a:hover {
    color: rgb(212, 16, 16);
}

.footer {
    position: absolute;
    bottom: 0;
}